@import "../../assets/scss/ThemeVariables.scss";

body {
    color:#646464;
    padding-right: 0px !important; // overwrite bootstrap's model padding-right: 15px
    overflow-y: scroll; // always show scrollbars to prevent moving elements when scrollbars become visible
}


#main-navbar {
    background: #fff!important;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.13);

    .nav-link {
        color: $primary;
    }

    .search-box {
        input {
            border-right: 0;
        }

        .search-icon {
            color: $primary;
        }

        button{
            border:2px solid #ced4da;
            border-left:0!important;
            background: $input-bg
        }
    }
}

.box {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.13);
    background: #fff;
}

// PLUGINS

// DATEPICKER PLUGIN
.react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
        width:100%;
    }
}

// REACT-SORTABLE-HOC
.sortableHelper {
    z-index: 99999;
    border-radius: 0!important;
 }

 // REACTOUR
 .reactourMask {
     opacity: 0.6;
 }

 // REACT-TOASTIFY 
 .toast-container {
     .Toastify__toast {
         border-radius: 11px;
         padding-left: 15px;
         padding-right: 15px;
     }
 }