@import '../../assets/scss/ThemeVariables.scss';

body {
    color: #646464;
    overflow-y: scroll; // always show scrollbars to prevent moving elements when scrollbars become visible
}

#main-navbar {
    &:not(.homePage) {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
        background: white;
    }
    transition: all 0.8s ease-in-out;
    background: transparent;
    border: 0;

    .nav-link {
        color: $darkblue;

        & a:hover {
            color: $primary;
        }
    }

    .search-box {
        input {
            border-right: 0;
        }

        .search-icon {
            color: $primary;
        }

        button {
            border: 1px solid #ced4da;
            border-left: 0 !important;
            background: $input-bg;
        }
    }

    &.homePage {
        & .nav-link {
            color: white;
            &:hover {
                color: $primary;
            }
        }
        & .signIn {
            color: white;
            background: #32303b;
            border: 0;
            &:hover {
                color: white;
                background: $primary;
            }
        }
        .search-box .search-icon {
            color: $darkblue;
        }
    }
}

.box {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
    background: #fff;
}

.page {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
}
#page-container {
    //overwrite styles of returned pdf
    position: initial !important;
    background: transparent !important;
    display: inline-block !important;
    padding: 10px !important;
}

// PDF survey extraction
#sidebar {
    display: none;
}
::selection {
    background: #e8616169 !important;
}

// PLUGINS

// DATEPICKER PLUGIN
.react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
        width: 100%;
    }
}

// REACT-SORTABLE-HOC
.sortableHelper {
    z-index: 99999;
    border-radius: 0 !important;
}

.sortableHelperAuthors {
    z-index: 10000 !important;
}

// REACTOUR
.reactourMask {
    opacity: 0.6;
}

// REACT-TOASTIFY
.toast-container {
    .Toastify__toast {
        border-radius: 11px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pulsate-css {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;

    /* you dont need the stuff below, but its what I used to create the loading circle */
    border: 3px solid $primary;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

// REACT-IMAGE-LIGHTBOX
// ensure all images in the lightbox have a white background (in case they are transparent)
.ril__image.ril-image-current:not(.ril-not-loaded) {
    background: #fff;
}
