@import '@/assets/scss/ThemeVariables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

html {
    // set to 'smooth' by bootstrap
    // required to fix scrolling issue with react-beautiful-dnd https://github.com/atlassian/react-beautiful-dnd/issues/2441
    scroll-behavior: auto !important;
}

body {
    color: #646464;
    overflow-y: scroll; // always show scrollbars to prevent moving elements when scrollbars become visible
}

.box {
    @extend .box-shadow;
    background: #fff;
}
.box-shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
}

.page {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
}

// the default focus indicator behavior. Colors are copied from Bootstrap (based on the primary color)
.focus-primary {
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
    }
    outline: 0 !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// intro.js
.introjs-ORKG-tooltip .introjs-bullets ul li a,
.introjs-ORKG-tooltip .introjs-bullets ul li a.active {
    background-color: $primary;
}
.introjs-ORKG-tooltip {
    max-width: 550px !important;
}

// react-contexify
.contexify_item:not(.contexify_item-disabled):hover > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled):focus > .contexify_itemContent {
    background-color: $primary;
}
