@import "../../assets/scss/ThemeVariables.scss";

html {
    overflow-y: scroll; // always show scrollbars to prevent moving elements when scrollbars become visible
}

body {
    padding-top: 100px;
    color:#646464;
}


#main-navbar {
    background: #fff!important;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.13);

    .nav-link {
        color: $primary;
    }

    .search-box {
        input {
            border-right: 0;
        }

        .search-icon {
            color: $primary;
        }

        button{
            border:2px solid #ced4da;
            border-left:0!important;
            background: $input-bg
        }
    }
}

.box {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.13);
    background: #fff;
}

.notification-container {
    .notification {
        margin-bottom:15px;

        h4 {
            color:inherit;
        }
    }
}

// Change notifications 
/*.notification-container {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
}

.notification-enter {
    transform: translate3d(-100%, 0, 0);
}

.notification-leave.notification-leave-active {
    transform: translate3d(-100%, 0, 0);
}*/