@import 'assets/scss/ThemeVariables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

body {
    color: #646464;
    overflow-y: scroll; // always show scrollbars to prevent moving elements when scrollbars become visible
}

.box {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
    background: #fff;
}

.page {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
}

// the default focus indicator behavior. Colors are copied from Bootstrap (based on the primary color)
.focus-primary {
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
    }
    outline: 0 !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
