/**
 * 
 * IMPORTANT: Please make sure to update ThemeVariables.js if you update any of the following variables
 * 
 */
// Theme variables
$min-contrast-ratio: 2.7;
$primary: #e86161;
$primary-darker: darken($primary, 20%);
$secondary: #80869b;
$secondary-darker: darken($secondary, 20%);
$light: #e9ebf2;
$light-lighter: #f8f9fb;
$light-darker: #dbdde5;
$dark: #5b6176;
$body-bg: $light;
$body-color: #4f4f4f;
$smart: #17a2b8;
$smart-darker: #148da0;
$list-group-color: #4f4f4f;
$border-width: 1px;
$border-radius: 6px;
$red: #dc3545;
$yellow: #ffc107;
$green: #198754;
$cyan: #17a2b8;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $green,
    'info': $cyan,
    'warning': $yellow,
    'danger': $red,
    'light': $light,
    'dark': $dark,
    'primary-darker': $primary-darker,
    'secondary-darker': $secondary-darker,
    'light-darker': $light-darker,
    'light-lighter': $light-lighter,
    'body': $body-color,
    'smart': $smart,
    'smart-darker': $smart-darker,
);

// Forms
$form-feedback-font-size: 90%;

// Inputs
$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$btn-border-radius: $border-radius;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$input-bg: #f7f7f7;
$input-btn-padding-x: 30px;
$input-padding-x: 0.75rem;
$btn-padding-x-sm: 1.25rem;
$dropdown-link-hover-bg: rgb(233, 233, 233);
$custom-checkbox-indicator-border-radius: 3px; //ensure checkboxes are not round

// Headings
$headings-font-weight: 400;
$headings-color: #373f45;

// Modal
$modal-content-border-radius: 11px;
$modal-content-border-width: 3px;

// Badges
$badge-font-size: 85%;
$badge-font-weight: 500;
$badge-padding-y: 0.3rem;
$badge-padding-x: 0.8rem;

// List group
$list-group-border-color: rgba(0, 0, 0, 0.125);

// Breakpoints (no changed made, copied to make them available to styled-components)
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
