// Theme variables
$primary: #e86161;
$primary-darker: darken($primary, 20%);
$secondary: #80869b;
$secondary-darker: darken($secondary, 20%);
$light: #e9ebf2;
$light-lighter: #f8f9fb;
$light-darker: #dbdde5;
$dark: #5b6176;
$body-bg: $light;
$body-color: #4f4f4f;
$border-width: 1px;
$border-radius: 6px;
$theme-colors: (
    primary-darker: $primary-darker,
    secondary-darker: $secondary-darker,
    body: $body-color
);

// Forms
$form-feedback-font-size: 90%;

// Inputs
$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$btn-border-radius: $border-radius;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$input-bg: #f7f7f7;
$input-btn-padding-x: 30px;
$input-padding-x: 0.75rem;
$btn-padding-x-sm: 1.25rem;
$dropdown-link-hover-bg: rgb(233, 233, 233);
$custom-checkbox-indicator-border-radius: 3px; //ensure checkboxes are not round

// Headings
$headings-font-weight: 400;
$headings-color: #373f45;

// Modal
$modal-content-border-radius: 11px;
$modal-content-border-width: 3px;

// Badges
$badge-font-size: 85%;
$badge-font-weight: 500;
$badge-padding-y: 0.3rem;
$badge-padding-x: 0.8rem;

// List group
$list-group-border-color: rgba(0, 0, 0, 0.125);
