// ORKG theme variables
$ORKG-border-radius: 12px; // General border radius on inputs, buttons, boxes etc. 
$ORKG-primary-color: #E86161; // Primary color for buttons, icons, links etc.
$ORKG-border-width: 2px; // Width of border for buttons, inputs 

// Theme variables
$primary: $ORKG-primary-color;
//$secondary: #3C4C58;
$body-bg: #E9EBF2;
$body-color: #646464;
$border-width: $ORKG-border-width;

// Inputs
$input-border-radius: $ORKG-border-radius;
$btn-border-radius: $ORKG-border-radius;
$btn-border-radius: $ORKG-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$input-bg: #F7F7F7;
$input-btn-padding-x: 30px;
$input-padding-x: .75rem;

// Headings
$headings-font-weight: 400;
$headings-color:#373F45