.statementGroupView {
    float: left;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
}

.statementGroupView-property {
    border: 1px solid #c8ccd1;
    border-right: 0;
}

.statementGroupView .statementGroupView-property {
    width: 15em;
    background: #eaecf0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

.statementGroupView-property-label {
    float: left;
    word-wrap: break-word;
    padding: 10px 10px 0;
    transition: top 0.3s ease-out;
}

.statementListView {
    float: left;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #c8ccd1;
}

.statementView {
    border-bottom: 1px solid #eaecf0;
    float: left;
    position: relative;
    padding-bottom: 1em;
    width: 100%;
}

.statementView-mainSnak-container {
}

.statementView-mainSnak-body {
    word-wrap: break-word;
}

.statementView-mainSnak {
    position: relative;
    margin-left: 15em;
    margin-right: 18em;
    max-width: 32em;
    word-wrap: break-word;
}

.snakView {
    padding: 10px 5px 5px 10px;
}

.snakView-value-container {
    min-height: 1.6em;
}

.snakView-body {
}

.snakView-value {
    display: inline;
}

.toolbar-container {
    position: absolute;
    right: 0;
    top: 10px;
    white-space: nowrap;
    width: 18em;
}

.toolbar-container-header {
    position: relative;
    margin-top: 1em;
    height: 3em;
}

.snakView-header {
    width: 100%;
}

.toolbar-container > .toolbar-container {
    position: static;
    width: auto;
}

.statementView .toolbar-container {
    top: 10px;
    white-space: nowrap;
}

.editToolbar-container > .toolbar {
    padding-left: 0;
}

.toolbar-button > a > span,
.toolbar-button > button > span {
    width: 15px;
    height: 13px;
    text-align: right;
    padding-right: 2px;
    background-image: none;
}

.statementListView > .toolbar-wrapper {
    background-color: #eaecf0;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.addToolbar {
    line-height: 2em;
    position: static;
    float: right;
    right: 0;
    top: 0;
    width: 18em;
}

.newStatement {
    padding-bottom: 0;
}

.newStatement:last-child {
    border-bottom: 0;
}

.newStatement .statementView-mainSnak .snakView-property-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15em;
    width: 15em;
    display: block;
    z-index: 2;
}

.snakView .snakView-value-container {
    min-height: 1.6em;
}

.statementGroupView .newStatement .statementView-mainSnak .snakView-value {
    display: block;
    min-height: 1.5em;
    max-width: 32em;
}

.snakView .snakView-value .valueView {
    display: inherit;
}

.valueView .valueView-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 2px;
    resize: none;
}

.valueView .valueView-value {
    position: relative;
}

.valueView .valueView-input {
    background-color: white;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid gray;
    border-radius: 0;
    padding: 0 2px;
}

.valueView .valueView-input-header {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    font-size: 1.8em;
    margin-top: 1em;
    line-height: 1.3;
    margin-bottom: 0.25em;
}

.statementView textarea {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.statementView-qualifiers > .toolbar-container {
    float: right;
    margin-bottom: 1em;
    position: static;
}

.toolbar-container > .toolbar {
    padding-left: 0;
}

.edit .snakView-value {
    display: block;
}

.snakView .snakView-value .valueView {
    display: inherit;
}

.valueView-inEditMode .valueView-input {
    border-color: gray;
    background-color: white;
}

div.statementView textarea {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.snakView-variation-valueSnak textarea {
    width: 100%;
}

.shortRecord {
    border: 1px solid #c8ccd1;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
}

.shortRecord-header {
    background-color: #eaecf0;
    position: relative;
    width: 100%;
}

.shortRecord-content {
    width: 100%;
}

.statementGroupView-property.edit {
    background-color: #b6c8ec;
}

.entityView-main .new .snakView-property {
    padding: 10px;
    word-wrap: break-word;
}

.entityView-main .new .snakView-property input {
    width: 100%;
    box-sizing: border-box;
    border-color: gray;
    background-color: white;
}

.addResource {
    float: none;
    text-align: right;
    height: 2em;
}

.snakView-value-container .snakView-body {
    float: left;
}

.snakView-typeSelector {
    float: left;
    padding: 0 2px;
}

.valueView-input-group-prepend {
    float: left;
}

.valueView-input-group-prepend,
.valueView-input-group-append {
    display: inline;
}

.valueView-input-group-text {
    display: inline;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.2rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.toolbarButton-disabled a:link,
.toolbarButton-disabled a:hover,
.toolbarButton-disabled a:active,
.toolbarButton-disabled a:visited,
.toolbarButton-disabled button:hover,
.toolbarButton-disabled button:active {
    color: #72777d;
    text-decoration: none;
    cursor: default;
}

.toolbar-button button {
    align-items: normal;
    background: none;
    border: none;
    box-sizing: content-box;
    color: #007bff;
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: none;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
}

.toolbar-button button:hover,
.toolbar-button button:active {
    background: none !important;
    color: #0645ad !important;
    text-decoration: underline;
}

.toolbar-button > a,
.toolbar-button > button {
    font-size: small;
    padding: 0 5px 0 0;
}

@supports (-moz-appearance: none) {
    /* Mozilla-only */
    button::-moz-focus-inner {
        /* reset any predefined properties */
        border: none;
        padding: 0;
    }
    button:focus {
        /* add outline to focus pseudo-class */
        outline-style: dotted;
        outline-width: 1px;
    }
}

.snakView .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.1rem 0.2rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.15rem;
}

div.nav.bottomNavigator {
    float: left;
    display: block;
    width: 100%;
}

div.nav.bottomNavigator > * {
    display: inline-flex;
}

div.nav.bottomNavigator > *:last-child {
    float: right;
}
