.App {
    text-align: left;
}

.App-header {
    padding: 10px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App-fieldName {
    font-size: large;
}

dd {
    padding-left: 20px;
}

.codeContainerButton {
    margin-bottom: 1em;
    display: block !important;
}

.card {
    margin-top: 1em;
}

.search-form input {
    width: 95% !important;
    float: left;
}

.search-form button {
    width: 5% !important;
    float: left;
    padding-left: 5px;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

textarea {
    width: 100%;
    padding: 0.1em;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
     visibility: hidden !important; 
}
