@import '../../assets/scss/ThemeVariables.scss';

// this class for overwriting default bootstrap .form-control
.tagsInput { 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: auto !important;
    min-height: calc(2.25rem + 4px);
    cursor: text;
}
.tagsInputInner {
    overflow: hidden;
}
.reactTagsinputTag {
    background-color: $ORKG-primary-color;
    border-radius: 2px;
    border: 1px solid $ORKG-primary-color;
    color: #fff;
    border-radius: 999px;
    display: inline-block;
    padding: 0 7px;
    margin: 7px 2px 0;
    font-size: 90%;
}
.reactTagsinputRemove {
    cursor: pointer;
    font-weight: bold;
    margin-left:5px;
    font-size: 99%; /* fix stretched icon */
}
.tagsInput input {
    border: 0;
    background: transparent;
    max-width: 100%;
    outline: 0;
    margin: 5px 2px;
}
