.tagsInput {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height:auto!important;
    min-height: calc(2.25rem + 4px);
   
}
.tagsInputInner {
    overflow: hidden;
}
.reactTagsinputTag {
    background-color: #cde69c;
    border-radius: 2px;
    border: 1px solid #a5d24a;
    color: #638421;
    display: inline-block;
    padding: 0 5px;
    margin: 7px 2px 5px;
    font-size:90%
}
.reactTagsinputRemove {
    cursor: pointer;
    font-weight: bold;
}
.reactTagsinputTag a::before {
    content: " \D7";
}

.tagsInput input{
    border:0;
    background: transparent;
    max-width:100%;
    outline: 0;
    margin: 5px 2px;
}