.shortRecord {
    border: 1px solid #c8ccd1;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
}

.shortRecord-header {
    background-color: #eaecf0;
    position: relative;
    width: 100%;
}

.shortRecord-content {
    width: 100%;
}